<!DOCTYPE html><% if (!userdata) {%>
    <script>
        alert("비회원은 접근할 수 없는 페이지입니다")
        location.href = "/login";
    </script>
<% } %>



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>brd</title>
</head>
<body>
    <%- include ("common/header.ejs",{page:"notmain"})%>
    <div id="container">
        <div class="brdinsert_cont1">
            <form action="/update" method="post" >
                <div class="row">
                    <div class="wrap">
                        <p>Category</p>
                        <select name="category">
                            <option>선택하세요.</option>
                            <option>상품</option>
                            <option>주문/결제</option>
                            <option>배송</option>
                            <option>기타</option>
                        </select>
                    </div>
                    <div class="wrap">
                        <label for="subject">Subject</label>
                        <input type="text" name="subject" value="<%- brddata.brdtitle %>">
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" name="brdnum" value="<%- brddata.brdno %>" >
                    <div class="wrap">
                        <label for="writer">Writer</label>
                        <input readonly type="text" name="writer" value="<%- userdata.joinname%>">
                    </div>
                    <div class="wrap">
                        <label for="id">Id</label>
                        <input readonly type="text" name="id" value="<%- userdata.joinid%>">
                    </div>
                </div>
                <textarea name="content" class="content" value="<%- brddata.brdcontext %>"></textarea>
                <div class="btns">
                    <a href="/board">RETURN TO LIST</a>
                    <button type="submit">SAVE</button>
                </div>
            </form>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
</body>
</html>