<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>main</title>
</head>
<body>
    <%- include ("common/header.ejs",{page:"main"})%>
    <div id="container">
        <div class="main_cont1">
            <div class="slider">
                <div class="view">
                    <div class="box">
                        <img src="/img/main1.jpg">
                        <div class="textwrap">
                            <p>BEST</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">LIGHT CHAIR</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-1.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">LIGHT DINING TABLE 2</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-2.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">BOUNCE CHAIR</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-3.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">HUG CHAIR</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-4.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">LINE CHAIR</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-5.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">ORBIT SOFA TABLE</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-6.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">CLAM SOFA</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="/img/main1-8.jpg">
                        <div class="textwrap">
                            <p>NEW</p>
                            <p style="font-family: 'Just Me Again Down Here', cursive;">DUMBO SOFA</p>
                        </div>
                    </div>
                </div>
                <div class="pagebtns">
                    <div class="prev_btn"><span class="material-symbols-outlined">arrow_back_ios</span></div>
                    <div class="next_btn"><span class="material-symbols-outlined">arrow_forward_ios</span></div>
                </div>
            </div>
        </div>
        <div class="main_cont2">
            <div class="center">
                <h2 class="cont2_title">FURNITURE COLLECTION</h2>
                <div class="prd_wrap">
                    <div class="chair_wrap">
                        <% for (let i = 0; i < 9 ; i++ ) {%>
                        <a class="chair" href="/shopdetail/<%- prdData[i].num%>">
                            <img src="/upload/<%- prdData[i].thumbnail[0]%>">
                            <div class="hoverbox">
                                <div class="textwrap">
                                    <p class="prd_name"><%- prdData[i].name%></p>
                                    <p class="prd_price"><%- prdData[i].price%></p>
                                </div>
                            </div>
                        </a>
                        <% } %>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="main_cont3">
            <div class="bg">
                <div class="leftWrap">
                    <p>합리적인 가격으로,</p>
                    <p>클럽 무브먼트 멤버십</p>
                    <a href="#">더 알아보기</a>
                </div>
                <div class="rightWrap">
                    <p>C L U B</p>
                    <p>M O V E</p>
                    <p>M E N T</p>
                    <span>Discovery of My taste</span>
                </div>
            </div>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
    <script src="/js/main1.js"></script>
</body>
</html>