<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&family=Nanum+Myeongjo:wght@400;700;800&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>notice</title>
</head>
<body>
    <%- include ("common/header.ejs",{page:"notmain"})%>
    <div id="container">
        <div class="notice_cont1">
            <h2>Notice</h2>
            <table>
                <tr class="fir">
                    <td class="num">No.</td>
                    <td class="subject">Subject</td>
                    <td class="date">Date</td>
                </tr>
                <%for(let i = 0; i < noticeData.length;i++){%>
                <tr>
                    <td class="num"><%- noticeData[i].num%></td>
                    <td class="subject"><a href="/noticedt/<%- noticeData[i].num%>"><%- noticeData[i].title%></a></td>
                    <td class="date"><%- noticeData[i].date%></td>
                </tr>
                <%}%>
            </table>
            <ul class="paging">
                <% if(pageNumber <= 1){ %>
                    <li class="none">처음</li>
                <% } else {%>
                    <!-- /boardtest?page=1 -->
                    <li><a href="?page=1">처음</a></li>
                <% } %>
        
                <% if(blockStart > totalBlock){ %>
                    <li><a href="?page=<%- blockStart-1%>">이전</a></li>
                <% } %>
        
                <% for(let i = blockStart; i<= blockEnd ; i++){ %>
                    <%if(pageNumber ==  i){%>
                        <li class="highlight"><a href="?page=<%- i %>"><%- i %></a></li>
                    <% } else {%>
                        <li><a href="?page=<%- i %>"><%- i %></a></li>
                    <% } %>
                <% } %>
        
                <% if(blockNum < totalBlock  ){ %>
                    <li><a href="?page=<%- blockEnd+1%>">다음</a></li>
                <% } %>
        
        
                <% if(pageNumber >= paging){ %>
                    <li class="none">마지막</li>
                <% } else {%>
                    <!-- /boardtest?page=1 -->
                    <li><a href="?page=<%- paging%>">마지막</a></li>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include ("common/footer.ejs")%>
</body>
</html>